<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Web-5-DAO</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginSRVL</display-name>
    <servlet-name>LoginSRVL</servlet-name>
    <servlet-class>controlador.LoginSRVL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginSRVL</servlet-name>
    <url-pattern>/LoginSRVL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutSRVL</display-name>
    <servlet-name>LogoutSRVL</servlet-name>
    <servlet-class>controlador.LogoutSRVL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutSRVL</servlet-name>
    <url-pattern>/LogoutSRVL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CrearCapacitacionSRVL</display-name>
    <servlet-name>CrearCapacitacionSRVL</servlet-name>
    <servlet-class>controlador.CrearCapacitacionSRVL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearCapacitacionSRVL</servlet-name>
    <url-pattern>/CrearCapacitacionSRVL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarCapacitacionesSRVL</display-name>
    <servlet-name>ListarCapacitacionesSRVL</servlet-name>
    <servlet-class>controlador.ListarCapacitacionesSRVL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarCapacitacionesSRVL</servlet-name>
    <url-pattern>/ListarCapacitacionesSRVL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminarCapacitacionSRVL</display-name>
    <servlet-name>EliminarCapacitacionSRVL</servlet-name>
    <servlet-class>controlador.EliminarCapacitacionSRVL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminarCapacitacionSRVL</servlet-name>
    <url-pattern>/EliminarCapacitacionSRVL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarCapacitacionSRVL</display-name>
    <servlet-name>EditarCapacitacionSRVL</servlet-name>
    <servlet-class>controlador.EditarCapacitacionSRVL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarCapacitacionSRVL</servlet-name>
    <url-pattern>/EditarCapacitacionSRVL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CrearUsuarioSRVL</display-name>
    <servlet-name>CrearUsuarioSRVL</servlet-name>
    <servlet-class>controlador.CrearUsuarioSRVL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearUsuarioSRVL</servlet-name>
    <url-pattern>/CrearUsuarioSRVL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarUsuarioSRVL</display-name>
    <servlet-name>ListarUsuarioSRVL</servlet-name>
    <servlet-class>controlador.ListarUsuarioSRVL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarUsuarioSRVL</servlet-name>
    <url-pattern>/ListarUsuarioSRVL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminarUsuarioSRVL</display-name>
    <servlet-name>EliminarUsuarioSRVL</servlet-name>
    <servlet-class>controlador.EliminarUsuarioSRVL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminarUsuarioSRVL</servlet-name>
    <url-pattern>/EliminarUsuarioSRVL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarUsuarioSRVL</display-name>
    <servlet-name>EditarUsuarioSRVL</servlet-name>
    <servlet-class>controlador.EditarUsuarioSRVL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarUsuarioSRVL</servlet-name>
    <url-pattern>/EditarUsuarioSRVL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactoConsolaSRVL</display-name>
    <servlet-name>ContactoConsolaSRVL</servlet-name>
    <servlet-class>controlador.ContactoConsolaSRVL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactoConsolaSRVL</servlet-name>
    <url-pattern>/ContactoConsolaSRVL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CrearUsuariosSRVL</display-name>
    <servlet-name>CrearUsuariosSRVL</servlet-name>
    <servlet-class>controlador.CrearUsuariosSRVL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearUsuariosSRVL</servlet-name>
    <url-pattern>/CrearUsuariosSRVL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetalleUsuarioSRVL</display-name>
    <servlet-name>DetalleUsuarioSRVL</servlet-name>
    <servlet-class>controlador.DetalleUsuarioSRVL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetalleUsuarioSRVL</servlet-name>
    <url-pattern>/DetalleUsuarioSRVL</url-pattern>
  </servlet-mapping>
</web-app>